
body {
    text-align: center;
    font-family: Arial, sans-serif;
}

        body.day {
            background-color: #f0f0f0;
            color: #333;
        }

        body.night {
            background-color: #333;
            color: #f0f0f0;
        }

h1 {
    margin-top: 10px;
}

       

.container {
    position: relative;
    width: 1500px; 
    height: 600px; 
}

.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;

}

.circle:nth-child(0) {
    top: 10px;
    left: 10px;
}

.circle:nth-child(2) {
    top: 10px;
    right: 10px;
}

.circle:nth-child(3) {
    bottom: 10px;
    left: 10px;
}

.circle:nth-child(4) {
    bottom: 10px;
    right: 10px;
}

.circle:nth-child(5) {
    top: 50px;
    left: 200px;
}

.circle:nth-child(6) {
    top: 200px;
    left: 50px;
}

.circle:nth-child(7) {
    bottom: 100px;
    left:  200px;
}

.circle:nth-child(8) {
    bottom: 20px;
    left:  400px;
}

.circle:nth-child(9) {
    bottom: 300px;
    left:  400px;
}

.circle:nth-child(10) {
    top:  10px;
    left:  500px;
}

.circle:nth-child(11) {
    top:  20px;
    right: 500px;
}

.circle:nth-child(12) {
    top: 450px;
    right: 750px;
}

.circle:nth-child(13) {
    top:  500px;
    right: 500px;
}

.circle:nth-child(14) {
    top:  250px;
    right: 400px;
}

.circle:nth-child(15) {
    bottom: 300px;
    right: 700px;
}

.circle:nth-child(16) {
    top:  50px;
    right:250px;
}

.circle:nth-child(17) {
    top:  250px;
    right: 50px;
}


.circle:nth-child(18) {
    bottom:   50px;
    right: 250px;
}

.red {
            background-color: red !important;
        }


#startButton {
            margin-top: 0;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

#gameInfo {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            font-size: 18px;

        }

#gameInfo > div {
    margin-right: 20px;
}

#gameInfo > button {
    margin-right: 20px;
}
  

 #gameOver {
            margin-top: 10px;
            font-size: 18px;
            text-align: center;
            display: none;
        }    

   

footer {
            text-align: center;
            margin-top: -50px;
            font-size: 14px;
        }



/*  css for mobile screens */
/*@media only screen and (max-width: 600px) {
    body {
        font-size: 14px; 
    }

    .container {
        width: 50px; 
        height: 600px;
    }

    .circle {
        width: 50px; 
        height: 50px;
    }

    .circle:nth-child(0) {
    top: 10px;
    left: 10px;
}

.circle:nth-child(2) {
    top: 10px;
    right: 10px;
}

.circle:nth-child(3) {
    bottom: 10px;
    left: 10px;
}

.circle:nth-child(4) {
    bottom: 10px;
    right: 10px;
}

.circle:nth-child(5) {
    top: 50px;
    left: 200px;
}

.circle:nth-child(6) {
    top: 200px;
    left: 50px;
}

.circle:nth-child(7) {
    bottom: 100px;
    left:  200px;
}

.circle:nth-child(8) {
    bottom: 20px;
    left:  400px;
}

.circle:nth-child(9) {
    bottom: 300px;
    left:  400px;
}

.circle:nth-child(10) {
    top:  10px;
    left:  500px;
}

.circle:nth-child(11) {
    top:  20px;
    right: 500px;
}

.circle:nth-child(12) {
    top: 450px;
    right: 750px;
}

.circle:nth-child(13) {
    top:  500px;
    right: 500px;
}

.circle:nth-child(14) {
    top:  250px;
    right: 400px;
}

.circle:nth-child(15) {
    bottom: 300px;
    right: 700px;
}

.circle:nth-child(16) {
    top:  50px;
    right:250px;
}

.circle:nth-child(17) {
    top:  500px;
    left:  400px;
}


.circle:nth-child(18) {
    bottom:   100px;
    right: 100px;
}

    #startButton, #nightModeButton {
        font-size: 14px; 
    }

   

    footer {
        font-size: 12px; 
    }
}
*/